@{
    //Layout = "/Areas/Identity/Pages/_Layout.cshtml"; //Deze is de oude layout vanuit identity
    Layout = "/Views/Shared/_Layout.cshtml"; //zorgt ervoor dat de layout van de beginpagina ook in de Profiel inzien pagina staat. 
}
<form>
    <input type="submit" class="btn-primary btn" asp-controller="Home" asp-action="Index" value="Terug naar dashboard"></input>
</form>

<h1>Beheer je account</h1>

<div>
    <h4>Wijzig account instellingen</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
