@model DeclarationFormModel
@{
    ViewData["Title"] = "ApproveOrReject";

}
<h1>Goedkeuren Formulier</h1>

<div>
    <br />
    <br />
    <form method="post">
        <button asp-action="Approve" asp-controller="Mailservice" asp-route-formId=@Model.FormId>Goedkeuren</button>
    </form>
    <br />
    <form method="post">
        <text>Geef aan waarom je het formulier afkeurt:</text>
        @Html.TextBox("comment")
        <button asp-action="Reject" asp-controller="Mailservice" asp-route-formId=@Model.FormId>Afkeuren</button>
    </form>
    <br />
    <br />

</div>

<table class="fl-table" align="center">
    <thead>
        <tr>
            <th class="tableHeader">Date</th>
            <th class="tableHeader">Gewerkt</th>
            <th class="tableHeader">Overwerk</th>
            <th class="tableHeader">Ziekte</th>
            <th class="tableHeader">Vakantie</th>
            <th class="tableHeader">Feestdagen</th>
            <th class="tableHeader">Training</th>
            <th class="tableHeader">Overig</th>
            <th>Overig Uitleg</th>
        </tr>
    </thead>

    <tbody>
        @Html.DisplayFor(m => Model.HourRows)
    </tbody>
</table>
