<form method="post" asp-action="ChangePicture" asp-controller="Employee" enctype="multipart/form-data" >
    <input  type="file" name="picture"/> <br />
    <button type="submit">Opslaan</button>
</form>