<div class="Naam">Admin</div>
<div align="center"><img src="..\..\Images\UserImageTest.jpg" style="margin: 0 auto; height: 140px; width: 140px" /></div>
<div class="TextInBox">Algemeen</div>
<a asp-controller="Admin" asp-action="Admin">Dashboard</a>
<br />
<br />
<br />
<div class="TextInBox">Medewerkers</div>
<a asp-controller="Admin" asp-action="ShowEmployees">Medewerkers</a>
<br />
<a asp-area="Identity" asp-page="/Account/Register">Aanmaken</a>
<br />
<a asp-controller="Admin" asp-action="CreateFormForUser">Creëer form</a>

<br />
<br />
<br />
<div class="TextInBox">Opdrachtgevers</div>
<a asp-controller="Admin" asp-action="ShowClients">Opdrachtgevers</a>
<br />
<a asp-controller="Admin" asp-action="AddClient">Toevoegen</a>