<div class="Naam">@ViewBag.User.FirstName @ViewBag.User.LastName</div>
<div align="center"><img src="..\..\Images\UserImageTest.jpg" style="margin: 0 auto; height: 140px; width: 140px" /></div>
<div class="TextInBox">Algemeen</div>
<a asp-controller="Employee" asp-action="Info">Info</a>
<br />
<a asp-controller="Employee" asp-action="Dashboard">Dashboard</a>
<br />
<br />
<br />