@model List<ClientModel>
<br>
<br>
<br>
<br>
<div align="center">@Html.ActionLink("Maak nieuwe opdrachtgever aan", "AddClient")</div>
<br />
<div class="table-wrapper">
    <table class="fl-table" align="center">
        <thead>
            <tr>
                <th>Naam opdrachtgever</th>
                <th>wijzig | verwijder</th>
            </tr>
        <thead>

        <tbody>
            @foreach (var client in Model)
            {
                <tr>
                    <td>@client.CompanyName</td>
                    <td>
                        <a asp-area=""
                           asp-controller="Admin"
                           asp-action="ChangeClient"
                           asp-route-ClientId="@client.ClientId">
                            Wijzig
                        </a>
                        |
                        @Html.ActionLink("Delete", "DeleteClient", new { ClientId = client.ClientId }, new { onclick = "return confirm('Are you sure you want to delete?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

