@model List<ClientModel>

<div class="Container-1">
    <div class="box-1">
        @Html.Partial("_SideBoxAdmin")
    </div>

    <div class="box-2">
        <table class="fl-table table-wrapper">
            <thead>
                <tr>
                    <th>Naam opdrachtgever</th>
                    <th>Wijzig | Verwijder</th>
                </tr>
            <thead>

            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@client.CompanyName</td>
                        <td>
                            <a asp-area=""
                               asp-controller="Admin"
                               asp-action="ChangeClient"
                               asp-route-ClientId="@client.ClientId">
                                Wijzig
                            </a>
                            |
                            @Html.ActionLink("Verwijder", "DeleteClient", new { ClientId = client.ClientId }, new { onclick = "return confirm('Weet je zeker dat je de opdrachtgever wilt verwijderen?');" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

