@*nog aanpassen naar juiste model*@
@model UrenRegistratieQien.Models.ErrorViewModel

@{
    ViewData["Title"] = "Administrator Page";
}

<style>

    table, th, td {
        border: 3px solid black;
        padding-right: 30px;
        padding-left: 5px;
        
    }
    .buttonn:hover {
        border-radius: 50%;
    }

    .dot {
          height: 50px;
          width: 50px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
    }

    
    
</style>


@*<div align="left">
    <span class="dot"></span>
</div>*@

<div align="center">
    <h1>Welkom, administrator</h1>
    <input type="button" style="margin:20px;" value="Gebruiker toevoegen" onclick="msg()">
    <input type="button" style="margin:20px;" value="Gebruiker wijzigen" onclick="msg()">
</div>


<br />
<br />

<div>
    <div align="center">
        <h1>Totaaloverzicht</h1>
    </div>
    <br />
    <br />

    <table align="center">
        <tr>
            <th>Medewerkers</th>
            <th>Tijdvak</th>
            <th>Uren gewerkt</th>
            <th>Overwerk</th>
            <th>Ziekte</th>
            <th>Status</th>
            <th>Opmerking</th>
            <th>Actie</th>

        </tr>
        <tr>
            <td>Piet</td>
            <td>Januari</td>
            <td>32</td>
            <td>16</td>
            <td>8</td>
            <td>Ingediend</td>
            <td>Piet is gek</td>
            <td class="buttonn"><a href="https://www.nu.nl"><input type="button" value="Inzien"></a>&nbsp;&nbsp;<input type="button" value="Heropenen"></td>

        </tr>

    </table>
</div>



