@*@model List<UrenRegistratieQien.Models.UserModel>*@      @*//////////// model nog aanpassen*@
@{
    ViewData["Title"] = "HourReg";
}

<div align="center">
<h1>Gebruiker</h1>
</div>

<br>
<table align="center" class="tableUserCreate" >
    <tr>
        <td>Naam</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
    <tr>
        <td>Adres</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
    <tr>
        <td>Postcode + Woonplaats</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
    <tr>
        <td>Telefoon Nr</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
    <tr>
        <td>Email Adres</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
    <tr>
        <td>Role</td>
        <td><select>
                <option value="Trainee">Trainee</option>
                <option value="Medewerker">Medewerker</option>
     
</select></td>
    </tr>
    <tr>
        <td>Naam Klant</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
    <tr>
        <td>Contact Persoon</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
    <tr>
        <td>Telefoonnummer</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
    <tr>
        <td>Mailadres</td>
        <td><input type="text" id="row-1-age" size="10" value=""</td>
    </tr>
   
</table>


<br>
<div align="center">
    <input type="button" value="Gebruiker Aanmaken" onclick="location.href='@Url.Action("CreateUser", "User")'" />
   
</div>