/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@font-face {
    font-family: Qien; 
    src: url(TitilliumWeb-Bold.ttf);
}
h1 {
    font-family: Qien;
}
div{
    font-family: Qien;
}
.barfixed {
    position: fixed; /* Houd de navbar op zijn plek bovenin
    top: 0%; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
}
.centerLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    float: left; /* add this */
}
.logo-class-wrapper {
    width: 300px;
    overflow: hidden; /* add this to contain floated children */
}

.logo-class{
    
    width: 200px;
    float: left; /* add this */
}

.loginBGColor {
    background: linear-gradient(0deg, rgba(156,74,240,0.35647762522977944) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
}

/* kopregel styles*/

.title{
    padding-bottom: 50px;
}


.kopregel {
    background-color: #9C4AF0;
}
.text-dark{
    color: white !important; /*hierdoor wordt ook het woordje Login wit op het beginscherm, aangepast met .linkjes*/
}
.navbar-expand-sm {
    background-color: #9C4AF0 !important;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}
/*Button styles*/
.btnposition {
    margin-left: 20px;
    margin-bottom: 2px;
    margin-top: 20px;
}

.btnposition-right {
    margin-left: 745px;
    margin-bottom: 2px;
}

.btn-hourreg {
    margin-left: 20px;
    margin-top: 0px;
}
.btn-primary {
    background-color: #9C4AF0;
    border-color: #9C4AF0;
}

.btn-primary:hover {
    background-color: #9C4AF0;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #9C4AF0;
}

.linkjes {
    color: black !important;
}

.btn-onelinedown{
    position: relative;
    top: 60px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.buttonForRegister:hover {
    /*-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;*/
    background-color: green;
    padding: 5px;
}


/* Table Style
------------------------------------------------ */
.tableHeader{
    width: 100px;
}

.dateRow{
    padding-right: 30px;
}


.table-wrapper {
    margin: 10px 70px 70px 20px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
}

.fl-table thead th {
    color: #ffffff;
    background: #9C4AF0;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #9C4AF0;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.Container-1 {
    display: flex;
}

.box-1 {
    text-align: center;
    width: 15%;
    padding: 10px;
    padding-right: 30px;
    /*background-color: rgba(156, 74, 240, 0.2);*/
    border-right-style: double;
    border-right-color: #9C4AF0;
    height: 600px;
}

.box-2 {
    width: 85%; 
    padding: 10px;
}

.box-2_2 {
   
    padding-left: 20px;
}

.box-3 {
    width: 82%;
    padding-left: 150px;
}

.box-30left{
    padding-top: 40px;
    flex: 30%;
}

.box-70right{
    padding-top: 40px;
    flex: 70%;
    padding-bottom: 20px;
}

.box-5050{
    text-align: center;
    flex: 50%;
}

.btnCenter{
    align-content: center;
    text-align: center;
}

.grayrow{
    background-color: darkgrey !important;
}

/*Overig*/
.wide-textbox {
    /*width: 500px;*/
}
.approvereject {
}

.Naam {
    font-size: 20px;
    font-weight: 500;   
}

.TextInBox{
    font-size: 18px;
    font-weight: 500;
}

.validation-failed{
    color: red;
}

.backgroundTile {
    background: 
        linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)5%, rgba(255, 255, 255, 255)70%),
        linear-gradient(0deg, rgba(156,74,240,0.35647762522977944) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%),
        url("../Images/lavender_stripes_tile.png");
}